.modal{
    box-sizing: border-box;
    width: 96%;
    margin: 2%;
    height: auto;
    border-radius: 10px;
    background-color: #363954;
}

.popup_canvas{
    width: 100%;
    max-width: 270px;
    text-align: center;
    margin: auto;
}

.edit_todo_form{
    height: 300px;
    resize: none;
    width: 270px;
    background: #6E74AC;
    color: white;
    font-weight: bolder;
}

.edit_todo_form:focus{
    background: #6E74AC !important;
    color: white !important;
}

.tag_canvas{
    border-width: 3px;
    border-style: solid;
    margin: 3px;
    display:inline-block;
    position:relative;
    width: 100%;
    height: 42px;
    padding: 4px 0px;
    background-color: #6E74AC;
}

.del_tag{
    color:black;
}

.tagBox{
    display: inline-block;
    color: #FFF;
    font-weight: 700;
    text-overflow: ellipsis;
    height:25px;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    vertical-align: middle;
    margin: 4px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 4px;
}

.tag_check{
    border:inherit;
    margin-left: -30px;
}

.row_{
    vertical-align: middle;
}

.addTagBox{
    margin:4px;
    width: 80%;
}

.addTagBtn{
    background: #6E74AC;
    border: white;
    font-weight: 1000;
    font-size: large;
    color: white;
    padding: 8px;
    border: 1px solid white;
    width: 40px;
    margin-top: 7px;
}