body{
    background-color: #fafaf9;
}

ul{
    padding:0px;
    list-style-type: none;

}

.todo{
    display:inline-block;
    position:relative;
    width: 100%;
    padding: 10px;
    margin: 2px;
    background: #363954;
}

.todo:hover{
    background: #6E74AC;
}

.todo:hover .actionBox{
    color: #fafaf9;
}

.task{
    display:inline-block; 
    position: relative;
}

.checkBox{
    margin-left: 0px;
}

.actionBox{
    width: auto;
    display: inline-block;
    left: 22px;
    position: relative;
    color: #FAFBF9;
    font-weight: 700;
    text-overflow: ellipsis;
    height: 29px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}

.del_todo{
    color: white;
    opacity:0.7;
}

.addTodoButton{
    background: #A1A5AD;
    color: #FFF;
    font-weight: 700;
    border-color: #A1A5AD;
}

.addTodoButton:hover{
    background-color: #6E74AC;
    border: none !important;
}

.btn-info:focus{
    background-color: #363954;
    box-shadow: 0 0 0 0.2rem #C8CDFF;
}
.btn-info:active{
    background-color: #363954 !important;
}

.form-control:focus{
    border: 1px solid #6E74AC;
    box-shadow: 0 0 0 0.2rem #C8CDFF;
}
img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tag_label_container{
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.tag_label{
    width: 10%;
    height: 5px;
    background: black;
    margin: 0;
}
