body{
    background-color: #FAFBF9;
}

ul{
    padding:0px;
    list-style-type: none;

}

.todo{
    display:inline-block;
    position:relative;
    width: 100%;
    padding: 10px;
    margin: 2px;
    background: #3F7DE9;
}

.todo:hover{
    background: #A8BEE5;
}

.todo:hover .actionBox{
    color: #3F7DE9;
}

.task{
    display:inline-block; 
    position: relative;
}

.checkBox{
    margin-left: 0px;
}

.actionBox{
    width: auto;
    display: inline-block;
    left: 22px;
    position: relative;
    color: #FAFBF9;
    font-weight: 700;
    text-overflow: ellipsis;
    height:25px;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
}

.del_todo{
    color: white;
    opacity:0.7;
}

.addTodoButton{
    background: #A1A5AD;
    color: #FFF;
    font-weight: 700;
    border-color: #A1A5AD;
}

